.Star-Wars-App {
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 80vw;
  overflow: hidden;
}

header {
  font-size: 150px;
  text-decoration: none;
}

img {
  height: 200px;
}
